@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #acc8e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  height: 60vh;
  background-color: #fff;
  width: 25vw;
  min-width: 20vw;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #112a46;
  height: 10vh;
}

.container__main {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  height: 50vh;
}

.textbox {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  width: 120%;
  display: flex;
  justify-content: center;
}

.textbox2 {
  margin: 0.5rem 1rem 1rem 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.textbox p {
  color: #fff;
  background-color: #112a46;
  width: 1.5vw;
  border-radius: 3px 0 0 3px;
}

.textbox2 p {
  color: #fff;
  background-color: #112a46;
  width: 1.5vw;
  border-radius: 3px 0 0 3px;
}

.email {
  color: #112a46;
}

.password {
  color: #112a46;
}

.button__login{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button__login .button__submit{
  width: 80%;
  color: #fff;
  background-color: #112a46;
  height: 40px;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
}

.footer p{
  color: #000;
}

.footer p a{
  color: #112a46;
  text-decoration: none;
}